[submodule ".vim/plugged/molokai"]
	path = .vim/plugged/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
